@import "tailwindcss";

.btn{
  @apply border-transparent border-2 rounded-2xl lg:rounded-2xl px-5 py-2 lg:px-5 lg:py-2 font-bold text-white hover:text-gray-200 bg-blue-400 md:bg-transparent md:border-b-4 md:border-b-yellow-200 md:rounded-none lg:border-none lg:bg-blue-400 md:px-2 md:py-1;
}

.text-s{
  @apply font-bold text-gray-50;
}